body
{
    background-color: #d6d6d6;
    color : blue; 
    justify-content: center;
    margin: 2%;
    padding: 0%;
}

@media screen and (max-width : 960px)
{
    footer 
    {
        flex-direction : column ;

    }
    ul {

        flex-direction: column;
        text-align: center;
        padding: 0;

    }
}